.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: large;
  font-weight: bold;
}

.todo-item label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.completed {
  text-decoration: line-through;
  color: #9c3333;
}

.delete-btn {
  background: transparent;
  border: none;
  color: rgb(32, 16, 16);
  font-size: 18px;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}
