.container {
  width: 40%;
  min-height: 800px;
  flex-direction: column;
  padding-top: 10px;
  background: linear-gradient(135deg, #7bb4d1 0%, #8a96a1 100%);
  color: #fff;
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  margin: auto;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  text-align: center;
}

.container .input {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.container .list {
  padding: 0 2rem;
}
